<div class="banner-bottom">
		<div class="container">
			<div class="w3l-banner-bottom-grids">
				<div class="col-md-4 w3l-banner-bottom-grid">
					<div class="bottom-icon">
						<i class="fa fa-desktop" aria-hidden="true"></i>
					</div>
					<div class="bottom-text">
						<h4>Technology Events</h4>
						<p>The number of tech conferences seems to grow every year. So we asked The Information subscribers to rank their favorite events to help you figure out how to spend your time. We included well-known conferences, as well as under-the-radar events marketed only to insiders. We welcome subscribers to comment to add their views.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 w3l-banner-bottom-grid">
					<div class="bottom-icon">
						<i class="fa fa-users" aria-hidden="true"></i>
					</div>
					<div class="bottom-text">
						<h4>Social Events</h4>
						<p>A party is a gathering of people who have been invited by a host for the purposes of socializing, conversation, recreation, or as part of a festival or other commemoration of a special occasion. A party will typically feature food and beverages, and often music and dancing or other forms of entertainment.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 w3l-banner-bottom-grid">
					<div class="bottom-icon">
						<i class="fa fa-graduation-cap" aria-hidden="true"></i>
					</div>
					<div class="bottom-text">
						<h4>Career Advice Events</h4>
						<p>Identify potential opportunities at the local level and create campaigns to capitalize on those opportunities.
Develop a network of event subcontractors that make planning each community event a simple process.
Manage all aspects of the the event planning process, including collaboration with subcontractors, venue identification, menu development, printing and design of materials and budget tracking.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
