
<% if object.errors.full_messages.blank? != true %>
<p>Please fix the following errors:</p>
<ul class="errors">
	<% object.errors.full_messages.each do |message| %>
	<li><%= message %></li>
	<% end %>
</ul>
<% end %>
